@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252A; */
}
nav {
    background-color: #24252A;
    padding: 20px;
}

li, a, button {
    font-family: 'Montserrat',
    sans-serif;
    font-weight: 500; 
    font-size: 16px;
<<<<<<< HEAD
    color: #476a2e;
=======
    color: #edf0f1;
>>>>>>> 631d696d5ec4f65516922ba93c6e4ce67ed2b8ed
    text-decoration: none;
}
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #0088a9;
}

